<extend name="Base/base"/>
<block name="content">
    <div class="container-fluid">
        <volist name="lists" id="list">
            <div class="row noticeList">
                <a href="{:U('center/detail?id='.$list['id'])}">
                    <div class="col-xs-2">
                        <img class="img-rounded img-responsive" src="{$list['picture']}" />
                    </div>
                    <div class="col-xs-10">
                        <p class="title">{$list.title}</p>
                        <p class="intro">{$list.description}</p>
                        <p class="info">浏览: {$list.view} <span class="pull-right">{$list.create_time|time_format}</span> </p>
                    </div>
                </a>
            </div>
        </volist>

        <div class="text-center">
            <button class="btn btn-info ajax-page" >获取更多~~~</button>
        </div>
    </div>
</block>
<block name="script">
    <script>
        $(".ajax-page").click(function(){
            //获取url的参数p,如果有参数则使用,如果没有则为1

            var p = "{:I('get.p')}";

            $.get("{:U('center/notice')}",{'p':p},function(data){

            });
        });
    </script>
</block>