<extend name="Base/base"/>
<block name="style">
    <style>
        .main {
            margin-bottom: 60px;
        }

        .indexLabel {
            padding: 10px 0;
            margin: 10px 0 0;
            color: #fff;
        }
        .container{
            margin-top: 20%;
        }
    </style>
</block>
<block name="content">
    <div class="container">
        <div class="alert alert-success text-center" role="alert">
            <p class="error">
                <?php echo($error); ?>
            </p>
            <p class="detail"></p>
            <p class="jump">
                页面自动 <a id="href" href="<?php echo($jumpUrl); ?>">跳转</a> 等待时间： <b id="wait"><?php echo($waitSecond); ?></b>
            </p>
        </div>
    </div>
</block>
<block name="script">
    <script type="text/javascript">
        (function () {
            var wait = document.getElementById('wait'), href = document.getElementById('href').href;
            var interval = setInterval(function () {
                var time = --wait.innerHTML;
                if (time <= 0) {
                    location.href = href;
                    clearInterval(interval);
                };
            }, 1000);
        })();
    </script>
</block>
