<extend name="Base/base" />
<block name="content">

<div class="container">
        <form class="login-form" action="__SELF__" method="post">
          <h2 class="form-signin-heading">用户登录</h2>
          <p>
            <label class="sr-only" for="inputUsername">用户名</label>
              <input type="text" id="inputUsername" class="form-control" placeholder="请输入用户名"  ajaxurl="/member/checkUserNameUnique.html" errormsg="请填写1-16位用户名" nullmsg="请填写用户名" datatype="*1-16" value="" name="username">
          </p>
          <p>
            <label class="sr-only" for="inputPassword">密码</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="密码为6-20位"  ajaxurl="/member/checkUserNameUnique.html" name="password">
          </p>
          <p>
            <label class="sr-only" for="inputVerify">验证码</label>
            <input type="text" id="inputVerify" class="form-control" placeholder="请填写5位验证码" name="verify">
          </p>

          <div class="control-group">
            <label class="control-label"></label>
            <div class="controls">
                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
            </div>
            <div class="controls Validform_checktip text-warning"></div>
          </div>
          <div class="control-group">
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox"> 自动登陆
              </label>
              <button type="submit" class="btn btn-lg btn-primary btn-block">登 陆</button>
            </div>
          </div>
        </form>
        <p class="text-danger text-right">
          <a href="{:U('User/register')}">新用户注册</a>
        </p>
</div>
</block>

<block name="script">
    <script type="text/javascript">
        (function(){
            var ThinkPHP = window.Think = {
                "ROOT"   : "", //当前网站地址
                "APP"    : "", //当前项目地址
                "PUBLIC" : "/Public", //项目公共目录地址
                "DEEP"   : "/", //PATHINFO分割符
                "MODEL"  : ["2", "", "html"],
                "VAR"    : ["m", "c", "a"]
            }
        })();
    </script>
    <script type="text/javascript">

        $(document)
            .ajaxStart(function () {
                $("button:submit").addClass("log-in").attr("disabled", true);
            })
            .ajaxStop(function () {
                $("button:submit").removeClass("log-in").attr("disabled", false);
            });


        $("form").submit(function () {
            var self = $(this);
            $.post(self.attr("action"), self.serialize(), success, "json");
            return false;

            function success(data) {
                if (data.status) {
                    window.location.href = data.url;
                } else {
                    self.find(".Validform_checktip").text(data.info);
                    //刷新验证码
                    $(".reloadverify").click();
                }
            }
        });

        $(function () {
            var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function () {
                if (verifyimg.indexOf('?') > 0) {
                    $(".verifyimg").attr("src", verifyimg + '&random=' + Math.random());
                } else {
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/, '') + '?' + Math.random());
                }
            });
        });
    </script>

</block>
