<extend name="Base/base" />
<block name="content">
  <div class="container-fluid">
    <form class="login-form" action="__SELF__" method="post">
      <h2 class="form-signin-heading">用户注册</h2>
      <p>
        <label for="inputUsername" class="sr-only">用户名</label>
        <input type="text" name="username" id="inputUsername" class="form-control" placeholder="用户名" required autofocus>
      </p>
      <p>
        <label for="inputPassword" class="sr-only">密码</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
      </p>
      <p>
        <label for="inputrePassword" class="sr-only">确认密码</label>
        <input type="password" name="repassword" id="inputrePassword" class="form-control" placeholder="确认密码" required>
      </p>
      <p>
        <label for="inputEmail" class="sr-only">邮箱</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="邮箱" required>
      </p>
      <p>
        <label for="inputCaptcha" class="sr-only">验证码</label>
        <input type="text" name="verify" id="inputCaptcha" class="form-control" placeholder="请输入验证码" required>
      </p>
      <div class="controls" style="margin-bottom: 20px;">
        <img class="verifyimg reloadverify" alt="点击切换" src="{:U('verify')}" style="cursor:pointer;">
      </div>
      <div class="controls Validform_checktip text-warning"></div>
      <p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
      </p>
    </form>
    <p class="text-right"><a href="{:U('User/login')}">已有账号，直接登录</a></p>
  </div>

</block>

<block name="script">
	<script type="text/javascript">
        (function(){
            var ThinkPHP = window.Think = {
                "ROOT"   : "", //当前网站地址
                "APP"    : "", //当前项目地址
                "PUBLIC" : "/Public", //项目公共目录地址
                "DEEP"   : "/", //PATHINFO分割符
                "MODEL"  : ["2", "", "html"],
                "VAR"    : ["m", "c", "a"]
            }
        })();


        $(document)
	    	.ajaxStart(function(){
	    		$("button:submit").addClass("log-in").attr("disabled", true);
	    	})
	    	.ajaxStop(function(){
	    		$("button:submit").removeClass("log-in").attr("disabled", false);
	    	});


    	$("form").submit(function(){
    		var self = $(this);
    		$.post(self.attr("action"), self.serialize(), success, "json");
    		return false;

    		function success(data){
    			if(data.status){
    				window.location.href = data.url;
    			} else {
    				self.find(".Validform_checktip").text(data.info);
    				//刷新验证码
    				$(".reloadverify").click();
    			}
    		}
    	});

		$(function(){
			var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
		});
	</script>
</block>
