<extend name="Base/base"/>
<block name="content">
    <div class="container-fluid">
        <div class="indexImg row">
            <img src="__IMG__/3.png" width="100%" />
        </div>
        <div class="blank"></div>
        <div class="container">
            <ul class="list-group fuwuList">
                <li class="list-group-item"><a href="diaochawenjuan.html" class="text-danger"><span class="iconfont">&#xe604;</span>调查问卷</a> </li>
                <li class="list-group-item"><a href="{:U('Service/register')}" class="text-info"><span class="iconfont">&#xe605;</span>业主认证</a></li>
                <li class="list-group-item"><a href="#" class="text-success"><span class="iconfont">&#xe602;</span>在线缴费</a></li>
                <li class="list-group-item"><a href="{:U('Center/document',['category_id'=>44])}" class="text-warning"><span class="iconfont">&#xe601;</span>生活贴士</a></li>
                <li class="list-group-item"><a href="{:U('Service/about')}" class="text-primary"><span class="iconfont">&#xe600;</span>关于我们</a></li>
            </ul>
        </div>
    </div>
</block>