<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <block name="head">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{:C('WEB_SITE_TITLE')}</title>
        <link href="__BT__/css/bootstrap.css" rel="stylesheet">
        <link href="__CSS__/style.css" rel="stylesheet">

        <block name="style"></block>
        <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
        <!--<![endif]-->
        <style>
            .main{margin-bottom: 60px;}
            .indexLabel{padding: 10px 0; margin: 10px 0 0; color: #fff;}
        </style>
    </block>
    <block name="style"></block>
</head>
<body>
<div class="main">

    <block name="nav">
        <!--导航部分-->
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container-fluid text-center">
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="{:U('Index/index')}" class="navbar-link">首页</a></p>
                </div>
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="{:U('Service/index')}" class="navbar-link">服务</a></p>
                </div>
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="{:U('Find/index')}" class="navbar-link">发现</a></p>
                </div>
                <div class="col-xs-3">
                    <p class="navbar-text"><a href="{:U('My/index')}" class="navbar-link">我的</a></p>
                </div>
            </div>
        </nav>
        <!--导航结束-->
    </block>

    <block name="content">
        <div class="container-fluid">
            <div class="indexImg row">
                <img src="__IMG__/index.png" width="100%" />
            </div>
            <div class="serviceList text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="{:U('Center/document',['category_id'=>40])}">
                                <div class="indexLabel label-danger">
                                    <span class="glyphicon glyphicon-bullhorn"></span><br/>
                                    小区通知
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{:U('Center/document',['category_id'=>41])}">
                                <div class="indexLabel label-warning">
                                    <span class="glyphicon glyphicon-ok-circle"></span><br/>
                                    便民服务
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{:U('Center/repair')}">
                                <div class="indexLabel label-info">
                                    <span class="glyphicon glyphicon-heart-empty"></span><br/>
                                    在线报修
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{:U('Center/document',['category_id'=>43])}">
                                <div class="indexLabel label-success">
                                    <span class="glyphicon glyphicon-briefcase"></span><br/>
                                    商家活动
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{:U('Center/rental',['category_id'=>44])}">
                                <div class="indexLabel label-primary">
                                    <span class="glyphicon glyphicon-usd"></span><br/>
                                    小区租售
                                </div>
                            </a>
                        </div>
                        <div class="col-xs-4">
                            <a href="{:U('Center/document',['category_id'=>42])}">
                                <div class="indexLabel label-default">
                                    <span class="glyphicon glyphicon-apple"></span><br/>
                                    小区活动
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </block>

</div>
    <block name="footer">
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="__JS__/jquery-1.11.2.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="__BT__/js/bootstrap.min.js"></script>
    </block>
    <block name="script"></block>
</body>
</html>