<extend name="Public/base"/>

<block name="body">
	<div class="main-title">
		<h2>
			{$info['id']?'编辑':'新增'}报修
		</h2>
	</div>
	<form action="{:U()}" method="post" class="form-horizontal">
		<!--<input type="hidden" name="pid" value="{$pid}">-->
		<div class="form-item">
			<label class="item-label">报修人<span class="check-tips">（请填写您的姓名）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="name" value="{$info.name|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">电话<span class="check-tips">（请填写您的11位数手机号码）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="tel" value="{$info.tel|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">地址<span class="check-tips">（请填写您的小区住址,单元/栋/楼/房间号）</span></label>
			<div class="controls">
				<input type="text" class="text input-large" name="address" value="{$info.address|default=''}">
			</div>
		</div>
		<div class="form-item">
			<label class="item-label">问题<span class="check-tips">（请填写您需要解决的问题）</span></label>
			<div class="controls">
				<label class="textarea input-large"><textarea id="auth-description" type="text" name="problem">{$info.problem|default=''}</textarea></label>
			</div>
		</div>
		<div class="form-item">
			<input type="hidden" name="id" value="{$info.id|default=''}">
			<button class="btn submit-btn ajax-post" id="submit" type="submit" target-form="form-horizontal">确 定</button>
			<button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>
		</div>
	</form>
</block>
<block name="script">
<script type="text/javascript" charset="utf-8">
	//导航高亮
	highlight_subnav('{:U('index')}');
</script>
</block>
